.cart-item {
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

.cart-item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.cart-item-remove {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for smooth effect */
}

.cart-item-remove:hover,
.cart-item-remove:active { /* Add styles for when button is clicked */
  background-color: #c82333; /* Change background color on click */
}
