.loginsignup {
    width: 100%; /* Reduced width */
    height: 100vh; /* Reduced height */
    background:linear-gradient(180deg,#FFDAB9, #FFFFFF 60%);
    padding-top: 30px; /* Reduced padding */
}

.loginsignup-container {
    width: 400px; /* Reduced width */
    height: 475px; /* Reduced height */
    background: white;
    margin: auto;
    padding: 20px 40px; /* Reduced padding */
    padding-top: 1px;
}

.loginsignup-container h1 {
    margin: 15px 0px; /* Reduced margin */
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Reduced gap */
    margin-top: 20px; /* Reduced margin-top */
}

.loginsignup-fields input {
    height: 60px; /* Reduced height */
    width: 100%;
    padding-left: 15px; /* Reduced padding */
    border: 1px solid #5c5c5c;
    font-size: 16px; /* Reduced font-size */
}

.loginsignup-container buttonjbujhbh{
    width: 400px;
    height: 60px; /* Reduced height */
    color: white;
    background: #ff4141;
    margin-top: 20px; /* Reduced margin-top */
    border: none;
    font-size: 20px; /* Reduced font-size */
    font-weight: 500;
    cursor: pointer;
}
.button22 { 
    font-size: 16px;
    font-weight: 600;
    width: 200px;
    text-decoration: none; 
    border: none; 
    padding: 12px 40px; 
    font-size: 16px; 
    background-color:red; 
    color: #fff; 
    border-radius: 10px; 
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
    cursor: pointer; 
    outline: none; 
    transition: 0.2s all; 
    width: 400px;
    height: 60px;
} 
/* Adding transformation when the button is active */ 
 
.button22:active { 
    transform: scale(0.81); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
} 

.loginsignup-login {
    margin-top: 15px; /* Reduced margin-top */
    color: #5c5c5c;
    font-size: 16px; /* Reduced font-size */
    font-weight: 500;
}

.loginsignup-login span {
    color: #ff4141;
    font-weight: 600;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 20px; /* Reduced margin-top */
    gap: 15px; /* Reduced gap */
    color: #5c5c5c;
    font-size: 16px; /* Reduced font-size */
    font-weight: 500;
}
